/*All of the html elemnts need to have box-sizing: border-box so that their height/width is 
computed with their padding and border #s. */
* {
    box-sizing: border-box;
  }

/* ///////////////// FONTS & TEXT ///////////////// */
h1 {

    color: #020873;
    font-size: 64px;
    font-weight: bold;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
}
h2 {
    
    color: #020873;
    font-size: 48px;
    font-weight: bold;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
}
h3 {
    
    color: #020873;
    font-size: 36px;
    font-weight: bold;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
}
h4 {
    color: #020873;
    font-size: 30px;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
}
h5 {
    
    color: #020873;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
}

h6 {
    color: #020873;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    font-family: 'Nunito', sans-serif; 
}

p {
    margin: 10px;
    font-family: 'Roboto', sans-serif


}


a {
    margin: 10px;
    font-family: 'Roboto', sans-serif    
}

img {
    margin: 10px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}
 
li {
    margin: 10px;
    font-family: 'Roboto', sans-serif   
}

/* ///////////////// Top level Elemnts ///////////////// */
header{
    background-color: #9BE9FF;
    text-align: center;
}

body{
    color: #020873;
    
    margin-top: 0px;
    margin-bottom: 0px;
}

footer {
    background-color: #9BE9FF;
    padding: 20px;


}

/* ///////////////// Classes ///////////////// */


/*This section floats the grid to the left and addeds some padding. */
[class*="col-"] {
    float: left;
    padding: 15px;
   /* border: 1px solid red; */
  }

 /* The columns inside a row are all floating to the left, and are therefore 
 taken out of the flow of the page, and other elements will be placed as if 
 the columns do not exist. To prevent this, we will add a style that clears the flow: */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.row {
    margin-bottom: 80px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
    border-radius: 10px;
}

.hamburger {
    filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 0.2));
    width: 64px;
    height: 64px;
}


#myLinks {
    display: none;
}

#myLinks a{
    background-color: #F2D335;
    font-size: 24px;
    border-radius: 10px;
    display: block;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin: 10px;
    text-decoration: none; 

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#events-submenu {
    display: none;
}
#events-submenu a {
    background-color: #020873;
    color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

#get-involved-submenu{
    display: none;
}
#get-involved-submenu a {
    background-color: #020873;
    color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.banner-link {
    margin: 0 auto;
}

.banner-img {
    margin: 0 auto;
}

.navbar-items {
    float: left;
}

.navbar-link {
    display: block;
    color: #020873;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.flex-container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
    flex-wrap: wrap;
}


.flex-container-column{
    display: flex;
    flex-direction: column;
    background-color: #9BE9FF;
    padding: 32px;
    border-radius: 10px;
    text-align: left;
}

.button {

    background-color: #F2D335;
    border-radius: 10px;
    display: inline-block;
    border: none;

    padding: 5px;
    margin-left: 5px;

    text-decoration: none;
    font-size: 36px;
    text-align: center;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

.button a {
    text-decoration: none;
    font-size: 36px;
    text-align: center;
}

  
  .navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 10;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #9BE9FF;
    border-radius: 9px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.social-button {
    cursor: pointer;
}

.Meet_Up_Info {
    text-align: left;
}

.game-card {
    text-align: center;
}
.game-card-img {
    object-fit: cover;
    width: 275px;
    height: 275px; 
    box-shadow: 5px 10px;
}

.game-card-large {
    text-align: center;
    background-color: #9BE9FF;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 10px;
    width: 100%;
    border-radius: 10px;

    height: 700px;
}

.game-card-large img {
    display: fit;
    margin: 0px;
    width: 100%;
}

.game-card-long {

    border-radius: 10px;
    padding: 10px;
   
}

.game-card-long img {
    width: 100%;
    height: auto;
    margin: 3px;
}


.dev-social {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    display: contents;
}

.dev-social h6{
    width: 100%;
}

.dev-social a{
    text-decoration: unset;
}

.event-table th{
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

.event-table td{
    text-align: center;
    padding:  10px 20px 10px 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif
}
/* ////// MOBILE ////// */
/* Extra small devices (phones, 600px and down)  */
@media only screen and (max-width: 600px) {
    /* For mobile phones convert the 12 column grid into one grid and place each element on a rew row.*/
    [class*="col-"] {
        width: 100%;
    }

    p {
        line-height: 1.6;
    }

    #navbar {
        display: none;
        background-color: transparent;
    }

    /* /// HEADER /// */
    .banner-img {
        width: 550px;
    }


    /* /// UPCOMING EVENTS /// */
    #upcoming-event-img{
        width: 525px;
        margin: 0px;
    }
    .button {
        font-size: 30px;
        min-width: 150px;

        margin-left: 10%; 
        margin-right: 10%;  
    }
    #rsvp-button {
        margin-left: 0%;
    }



    /* /// BE THE GAMES YALL /// */
    .horse-img {
        width: 200px;
    }

    /* /// FOOTER /// */
    footer {
        display: none;
    }
    .social-button {
        width: 72px;
        height: 72px;
    }
    #mobile-credits {
        display: block;
        text-align: center;
    }   


    /* ///// EVENTS PAGE ///// */
    .past-event {
        max-width: 40%;
        margin: 10px;
        text-align: center;
    }


    /* ///// Saftey Page ///// */
    #safety-card-mobile {
        text-align: left;
        
        background-color: #9BE9FF;
        border-radius: 10px;
    }

    #safety-card-mobile img {
        float: right;
        width: 150px;
        height: auto;

    }

    #community-guildelines-text-desktop {
        display: none;
    }

    #safety-content-desktop {
        display: none;
    }
}
/* Extra small devices (phones, 600px and UP)  */
@media only screen and (min-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
    p {
        line-height: 1.6;
    }
    
    #pdf-viewer-mobile{
        display:block;
    }
    #pdf-viewer-desktop{
        display:none;
    }

    /* /// HEADER /// */
    .banner-img {
        width: 550px;
        margin: 0px;
    }
    #navbar {
        display: none;
        background-color: none;
    }

    /* /// UPCOMING EVENTS /// */
    #upcoming-event-img{
        width: 525px;
    }
    .button {
        font-size: 30px;
        min-width: 150px;

        margin-left: 10%; 
        margin-right: 10%;  
    }
    #rsvp-button {
        margin-left: 0%;
    }


    /* /// BE THE GAMES YALL /// */
    .horse-img {
        width: 200px;

    }

    /* /// FOOTER /// */
    footer {
        display: none;
    }
    .social-button {
        width: 72px;
        height: 72px;
    }
    #mobile-credits {
        display: block;
        text-align: center;
    }   


    /* ///// EVENTS PAGE ///// */
    .past-event {
        max-width: 40%;
        margin: 10px;
        text-align: center;
    }

    /* ///// Saftey Page ///// */
    #safety-card-mobile {
        text-align: left;
        float: none;
        
        background-color: #9BE9FF;
        border-radius: 10px;

        height: 250px;
    }

    #safety-card-mobile img {
        margin-top: 0px;
        float: right;
        width: 150px;
        height: auto;

    }
    
    #community-guildelines-text-desktop {
        display: none;
    }
    #safety-content-desktop {
        display: none;
    }



}

/* Extra small devices (phones, 800px and UP)  */
@media only screen and (min-width: 800px) {

    /* ///// HEADER ///// */
    #navbar {
        display: block;
        background-color: #F2D335; 
    }

    #mobile-navbar {
        display: none;
    }


    /* ///// GRID ///// */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}

/* Medium devices (laptops/desktops/some tablets, 1024px and up) */
@media only screen and (min-width: 1024px) {
    /* ///// Page margins ///// */
    .row {
        margin-left: 100px;
        margin-right: 100px;
    }

    /* ///// GRID ///// */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    

    /* /// UPCOMING EVENTS /// */
    #upcoming-event-img{
        width: 100%;
    }

    /* ///// BE THE GAMES YALL ///// */
    .button {
        font-size: 30px;
        min-width: 100px;
    }

    /* /// FOOTER /// */
    footer {
        display: block;
    }  
    #mobile-credits {
        display: none;
    }   

    /* ///// EVENTS PAGE ///// */
    .past-event {
        max-width: 20%;
    }
    
    /* ///// Saftey Page ///// */
    #community-guildelines-text-mobile {
        display: none;
    }
    #safety-card-mobile {
        display: none;
    }
    #community-guildelines-text-desktop {
        display: block;
    }
    #look-for-yell-img-desktop {
        border-radius: 64px;
        width: 180px;
       /* background-color: #9BE9FF; */
        margin-left: 25%;
    }
    #look-for-yell-img-desktop img {
        width: 200px;
        height: auto;

    }
    #safety-content-desktop {
        display: block;
    }

    .game-card-long div {
        width: 33%;
        float: left;
    }

}
/* Large devices (laptops/desktops, 1280pxand up) */
@media only screen and (min-width: 1280px) {
    .row {
        margin-left: 140px;
        margin-right: 140px;
    }

    a {font-size: 16px; }
    p {font-size: 16px; }
    ul {font-size: 16px;}

    #upcoming-event-text {
        display: inline;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}    

    #pdf-viewer-mobile{
        display:none;
    }
    #pdf-viewer-desktop{
        display:block;
    }
    /* ///// EVENTS PAGE ///// */
    .past-event {
        max-width: 20%;
    }    
}
/*  (, 1440px and up) */
@media only screen and (min-width: 1440px) {
    a {font-size: 18px; }
    p {font-size: 18px;}
    ul {font-size: 18px;}
    
    #upcoming-event-img{
        width: 765px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}    

    .horse-img {
        width: 177px; 
        height: 260px;
    }

}
/* large laptops and desktops (and my computer) */
@media only screen and (min-width: 1920px) {
    a { font-size: 24px;}
    p { font-size: 24px;}
    ul {font-size: 24px;}


    
    #upcoming-event-img{
        width: 1046px;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}         
}


/* /////////////// IDs ///////////////// */

#involvement-cards{
    display: block;
}

