
body.events {
    padding: 2rem 0;
    img {
      max-width: 100%;
    }
  
  .event-date {
    color: $raisin-black-2;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
}
  
  .page-title {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .event-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .event-card:hover {
    transform: translateY(-5px);
  }
  
  .event-link {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  
  .event-image {
    height: 200px;
    overflow: hidden;
  }
  .event-excerpt img {
    max-height: 400px;;
  }
  
  .event-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .event-details {
    padding: 1rem;
    flex: 1;
    align-content: center;
  }
  
  .event-title {
    margin: 0 0 0.5rem;
    font-size: 1.25rem;
  }
  
  .event-games-count {
    color: #888;
    font-size: 0.9rem;
    margin: 0;
  }
  
  /* Responsive Styles */
  @media (max-width: $bp-desktop) {
    .events-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: $bp-mobile-small) {
    .events-grid {
      grid-template-columns: 1fr;
    }
  }