$body-headline-color: $murrey;

body.home {

 
    h2 {
        text-align: center;
        color: $body-headline-color;
    }
    .event-feature {
        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
        
        background-color: $yall-blue;
        display: flex;
        flex-direction: row;
        img {
            max-width: 720px;
        }
        @media screen and (max-width: $bp-desktop-large) {
          flex-direction: column;
          img {
            width: 100%;
          }
          
        }
    }
    .event-description {
        display: flex;
        padding-bottom: 1rem;
        flex: 1;
    }

  .second-feature {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 0;
    max-width: 920px;
    img {
        height: auto;
        width: auto;
        max-width: 100%;
    }
  }

    .button {
        display: inline-block;
        background-color: $buttercup;
        padding: 0.6rem 1.2rem;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;
        
        &:hover {
          background-color: lighten($buttercup, 10%);
        }
      }
      
    section {
        padding: 2.5rem;
        border-radius: 8px;
        margin: 0 0 0 auto;
        max-width: 1000px;
        text-align: center;
        
        @media (max-width: $bp-tablet) {
            padding: 5vw;
        }
        
        h2 {
          color: $murrey;
          margin-top: 0;
          font-size: 1.8rem;
        }
        
        p {
          line-height: 1.7;
          margin-bottom: 1.5rem;
          font-size: 1.1rem;
        }
        
        .cta-buttons {
          display: flex;
          justify-content: center;
          gap: 1rem;
          flex-wrap: wrap;
          max-width: 500px;
          margin: auto;
          .button {
            @include buttons;
          }
        }
    }
    .container {
      @media screen and (min-width: $bp-desktop-xl) {
          max-width: 1300px;
          width: auto;
      }
      @media screen and (min-width: $bp-desktop-ultra) {
          max-width: 1700px;
          width: auto;
      }
    }
}