<!DOCTYPE html>
<html>
    <head>
        <title>Games Y'all [Date]</title> 
        <link rel="stylesheet" href="/mystyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Roboto&display=swap" rel="stylesheet">

        <!--Encoding Information-->
        <meta charset="UTF-8">

        <!--Favicon Information-->
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="/img/favicons/site.webmanifest">
        <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!--Java Script reference-->
        <script src="../javaScript/myscripts.js"></script>        
    </head>

    <body>
        <header>
            <div class="row" style="margin-bottom: 0px;">
              <div class="col-12">
                <img src="/img/GY_banner.jpg" class="banner-img" alt="Games Y'all Home page." > 
              </div>
      
            </div>
      
          <!-- Desktop Nav bar -->
          <div class="row" id="navbar" style="border-radius: 8px; margin-bottom: 0px;" >
            <!--Desktop nav bar-->
            <div class="col-12">
              <ul class="navbar">
                <li class="navbar-items"><a href="../index" class="navbar-link"> Home </a></li>

                <li class="navbar-items">
                  <div class="dropdown">
                    <a class="dropbtn"> Events <b>V</b> 
                      <i class="events-dropdown"></i>
                    </a>
                    <div class="dropdown-content">
                      <a href="/event-august-2022">Upcoming Event</a>
                      <a href="/events">Past Events</a>
                    </div>
                </li>
                
                <li class="navbar-items">
                  <div class="dropdown">
                    <a class="dropbtn">Get Involved <b>V</b> 
                      <i class="about-us-dropdown"></i>
                    </a>
                    <div class="dropdown-content">
                      <a href="/Submit-a-game"> Submit a Game</a>
                      <a href="/volunteer">Volunteer</a>
                      <a href="/apply-to-board">Apply to Board</a>
                    </div>
                  </li>

                <li class="navbar-items"><a href="/about-us" class="navbar-link"> About Us </a></li>  
                <li class="navbar-items"><a href="/safety" class="navbar-link"> Safety </a></li>
                <li class="navbar-items"><a href="/donate" class="navbar-link"> Donate </a></li>
              </ul>
            </div>
          </div>
          
          <!--Mobile nav bar w/ a hamburger-->
          <div class="row" id="mobile-navbar" style="margin-bottom: 0px;">

            <!--Haburger icon-->
            <a href="javascript:void(0);" class="icon" onclick="openMenu()">
              <img src="/img/hamburger-120x120.png" class="hamburger" >
            </a>

            <!--Hamburger drop down menu-->
            <div id="myLinks">
              <a href="../index"> Home </a>

              <!--Events has a drop down-->
              <a href="javascript:void(0);" onclick="openEvents()"> Events </a>
              <div id="events-submenu">
                <a href="/event-august-2022"> Upcoming Event</a>
                <a href="/events"> Past Events </a>
              </div>

              <!--Get Involved has a drop down-->
              <a href="javascript:void(0);" onclick="openGetInvolved()"> Get Involved </a>
              <div id="get-involved-submenu">
                <a href="/Submit-a-game"> Submit a Game</a>
                <a href="/volunteer">Volunteer</a>
                <a href="/apply-to-board">Apply to Board</a>
              </div>

              <a href="/about-us"> About Us </a>
              <a href="/safety"> Safety </a> 
              <a href="/donate"> Donate </a>
            </div>
            
          </div>
        </header>

        <!--BREAD CRUMS-->
        <!--
        <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col-4" style="justify-content: left;">
                <p>
                    <a href="/events">Events</a> 
                    >
                    <a href="event-[template]">[Date]</a>
                </p>
            </div>
        </div>
        -->

        <!--Content and infomration-->
        <div class="row">
            <div class="col-4">
                <h1>[Date]</h1>
                <p>[Descriptive text about the event]</p>

                <!--If this is a upcoming event, uncomment the button element below-->
                <!--
                    <button class="button" id="rsvp-button">RSVP</button> 
                -->
            </div>
            <div class="col-8">
                <!--Add your event image here-->
                <img src="" alt="">
            </div>
        </div>

        <!--Games at the event -->
          <!--[GAME] card-->
          <div class="row" style="background-color: #F2D335; border-radius: 10px; margin-bottom: 25px;">
            <div class="game-card-long">
              <div>
                <img src="/img/Archived-img/[Month-year]/games/[Game image]]">
              </div>  

              <!--Game Text -->
              <div>
                <h4>[Game Title]</h4>
                <p>
                  [Game Text]
                </p>
                <button class="button"  style="margin: 10px; background-color: #9BE9FF;">
                  <a href="[Hyperlink to game]">Play It Here</a>
                </button>

              </div>

              <!--Dev Text-->
              <div>
                <h6>[Dev name or team name]</h6>
                <p>
                  [Text about dev]
                </p>

                <div class="dev-social">
                  <h6>[Dev's social media handle]</h6>
                  <a href="[hyperlink to social]">
                    <img src="/img/Social-buttons/twitter-button.png" style="width: 64px; height: auto;">
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <!--[Game] Card-->
          <div class="row" style="background-color: #9BE9FF; border-radius: 10px; margin-bottom: 25px;">
            <div class="game-card-long">
              <div>
                <img src="/img/Archived-img/[Month-year]/games/[Game Image]">
              </div>  

              <!--Game Text -->
              <div>
                <h4>[Game Title]</h4>
                <p>
                  [Game Text]
                </p>
                <button class="button"  style="margin: 10px;">
                  <a href="[Hyperlink to game page]">Play It Here</a>
                </button>
              </div>

              <!--Dev Text-->
              <div>
                <h6>By [Dev Name or team name]</h6>
                <p>
                  [Text on dev or team]
                </p>

                <div class="dev-social">
                  <h6>[Dev's social]</h6>
                  <a href="[Hyperlink to dev's twitter]">
                    <img src="/img/Social-buttons/twitter-button.png" style="width: 64px; height: auto;">
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!--[GAME] card-->
          <div class="row" style="background-color: #F2D335; border-radius: 10px; margin-bottom: 25px;">
            <div class="game-card-long">
              <div>
                <img src="/img/Archived-img/[Month-year]/games/[Game image]]">
              </div>  

              <!--Game Text -->
              <div>
                <h4>[Game Title]</h4>
                <p>
                  [Game Text]
                </p>
                <button class="button"  style="margin: 10px; background-color: #9BE9FF;">
                  <a href="[Hyperlink to game]">Play It Here</a>
                </button>

              </div>

              <!--Dev Text-->
              <div>
                <h6>[Dev name or team name]</h6>
                <p>
                  [Text about dev]
                </p>

                <div class="dev-social">
                  <h6>[Dev's social media handle]</h6>
                  <a href="[hyperlink to social]">
                    <img src="/img/Social-buttons/twitter-button.png" style="width: 64px; height: auto;">
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <!--[Game] Card-->
          <div class="row" style="background-color: #9BE9FF; border-radius: 10px; margin-bottom: 25px;">
            <div class="game-card-long">
              <div>
                <img src="/img/Archived-img/[Month-year]/games/[Game Image]">
              </div>  

              <!--Game Text -->
              <div>
                <h4>[Game Title]</h4>
                <p>
                  [Game Text]
                </p>
                <button class="button"  style="margin: 10px;">
                  <a href="[Hyperlink to game page]">Play It Here</a>
                </button>
              </div>

              <!--Dev Text-->
              <div>
                <h6>By [Dev Name or team name]</h6>
                <p>
                  [Text on dev or team]
                </p>

                <div class="dev-social">
                  <h6>[Dev's social]</h6>
                  <a href="[Hyperlink to dev's twitter]">
                    <img src="/img/Social-buttons/twitter-button.png" style="width: 64px; height: auto;">
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!--[GAME] card-->
          <div class="row" style="background-color: #F2D335; border-radius: 10px; margin-bottom: 25px;">
            <div class="game-card-long">
              <div>
                <img src="/img/Archived-img/[Month-year]/games/[Game image]]">
              </div>  

              <!--Game Text -->
              <div>
                <h4>[Game Title]</h4>
                <p>
                  [Game Text]
                </p>
                <button class="button"  style="margin: 10px; background-color: #9BE9FF;">
                  <a href="[Hyperlink to game]">Play It Here</a>
                </button>

              </div>

              <!--Dev Text-->
              <div>
                <h6>[Dev name or team name]</h6>
                <p>
                  [Text about dev]
                </p>

                <div class="dev-social">
                  <h6>[Dev's social media handle]</h6>
                  <a href="[hyperlink to social]">
                    <img src="/img/Social-buttons/twitter-button.png" style="width: 64px; height: auto;">
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <!--[Game] Card-->
          <div class="row" style="background-color: #9BE9FF; border-radius: 10px; margin-bottom: 25px;">
            <div class="game-card-long">
              <div>
                <img src="/img/Archived-img/[Month-year]/games/[Game Image]">
              </div>  

              <!--Game Text -->
              <div>
                <h4>[Game Title]</h4>
                <p>
                  [Game Text]
                </p>
                <button class="button"  style="margin: 10px;">
                  <a href="[Hyperlink to game page]">Play It Here</a>
                </button>
              </div>

              <!--Dev Text-->
              <div>
                <h6>By [Dev Name or team name]</h6>
                <p>
                  [Text on dev or team]
                </p>

                <div class="dev-social">
                  <h6>[Dev's social]</h6>
                  <a href="[Hyperlink to dev's twitter]">
                    <img src="/img/Social-buttons/twitter-button.png" style="width: 64px; height: auto;">
                  </a>
                </div>
              </div>
            </div>
          </div>          

        <!--Event Images-->
        <!--Only use this section after an event to house images from the past-->
        <!--
        <div class="row">
            <div class="col-12">
                <h2 style="text-align: center;">Gallery</h2>

                <div class="flex-container-row">
                    <img src="[Event image here]" style="width: 375px; height: 375px;"> 

                </div>
            </div>
        </div>
        -->
    
      <!-- Community buttons--> 
      <div class="community-buttons">
        <hr>
        <h4 style="text-align: center;">Join the Community</h4>
        <div class="flex-container-row" style="justify-content: center; margin-bottom: 10px;">
            <!--DISCORD-->
            <a href="https://discord.gg/rSMjDEeXu5">
              <img src="/img/Social-buttons/discord-button.png" class="social-button" alt="A link to the Fantastic Arcade Discord server.">
            </a>

            <!--EMAIL-->
            <a href="https://themuseumofhumanachievement.us6.list-manage.com/subscribe?u=1ba73ce2c03995467869283dc&id=73df994ba8">
              <img src="/img/Social-buttons/email-button.png" class="social-button" alt="A link to the Games Y'all newsletter.">
            </a>

            <!--INSTAGRAM-->
            <a href="https://www.instagram.com/fantastic.arcade/?igshid=YmMyMTA2M2Y%3D">
              <img src="/img/Social-buttons/instagram-button.png" class="social-button" alt="A link to the Games Y'all instagram page.">
            </a>

            <!--TWITTER-->
            <a href="https://mobile.twitter.com/gamesyall">
              <img src="/img/Social-buttons/twitter-button.png" class="social-button" alt="A link to the Games Y'all twitter">
            </a>
        </div>

        <div class="flex-container-row" style="justify-content: center;">
            <!--MOHA-->
            <a href="https://themuseumofhumanachievement.com/">
              <img src="/img/Social-buttons/MoHA_icon-blue.png" class="social-button" alt="A link to the Museum of Human Acheivement homepage.">
            </a>

            <!--FANTASTIC ARCADE-->
            <a href="https://fantasticarcade.com/">
              <img src="/img/Social-buttons/Fantastic-arcade-logo.png" class="social-button" alt="A link to the Fantastic Arcade homepage.">
            </a>
            
            <!--GAMES YALL-->
            <a href="../index">
              <img src="/img/Social-buttons/games-yall-logo-square.png" class="social-button" alt="A link to the Games Y'all homepage.">
            </a>              
        </div>

      </div>

      <footer>
        <p>Games Y’all is a program of The Museum of Human Achievement and Fantastic Arcade. 
          We Endeavor to  celebrate, amplify, and support the unique and underrepresented within 
          indie games and beyond. </p>
        
        <hr>
      
      <div class="flex-container-row" style="flex-wrap: nowrap;">
        <!--CONTACT-->
        <div class="flex-container-column">
          <h6>Contact</h6>
          <a href="https://themuseumofhumanachievement.us6.list-manage.com/subscribe?u=1ba73ce2c03995467869283dc&id=73df994ba8">Email list</a>
          <a href="https://mobile.twitter.com/gamesyall">Games Y'all Twitter</a>
          <a href="https://www.instagram.com/fantastic.arcade/?igshid=YmMyMTA2M2Y%3D">Fantastic Arcade Instagram</a>
        </div>

        <!--SAFETY-->
        <div class="flex-container-column">
          <h6>Safety</h6>
          <a href="/safety">Safety Precautions</a>
          <a href="https://docs.google.com/document/d/1vA1P_608XVhhz3-PQTwZcrDHjXG53W3L-MoQU8cY1TI/edit?usp=sharing">Code of Conduct</a>
          <p>(512) 666-7862</p>
        </div>

        <!--DONATIONS-->
        <div class="flex-container-column">
          <h6>Donations</h6>
          <a href="https://www.paypal.com/paypalme/DigitalArtsMoHA">PayPal</a>
          <a href="https://account.venmo.com/u/TheMuseum">Venmo</a>
          <a href="https://withfriends.co/the_museum_of_human_achievement/join">Become a MoHA Member</a>
        </div>

        <!--FANTASTIC ARCADE-->
        <div class="flex-container-column">
          <h6>Fantastic Arcade</h6>
          <a href="https://fantasticarcade.com/">Fantastic Arcade.com</a>
          <a href="https://discord.gg/rSMjDEeXu5">Discord</a>
          <a href="https://twitter.com/fantasticarcade">Twitter</a>
          <a href="https://www.instagram.com/fantastic.arcade/?igshid=YmMyMTA2M2Y%3D">Instagram</a>
        </div>

        <!--GET INVOLVED-->
        <div class="flex-container-column">
          <h6>Get Involved</h6>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdxo6OV49KMvajHnBQnRHbMs06KjQK1pdIAZqiJeuyu7WRPsA/viewform">Submit a Game</a>
          <a href="https://themuseumofhumanachievement.com/forms/volunteer/">Volunteer</a>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2jYCYOXzPG-pZPF81fdyaDGFlJxkioKknUpat41gW6BlZaw/viewform">Apply to the Board</a>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7iy0ERppFfrRtwWx5sFRt43slyVidPzlQdDVYtpbjGGIOSg/viewform">Feedback Form</a>
        </div>
      </div>
      <p id="footer-credits"> Website created by Noah V. Carrico</p>
      </footer>

      <p id="mobile-credits" style="margin-bottom: 20px;"> Website created by Noah V. Carrico</p>
    </body>
</html>