html, body {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    * {
        box-sizing: border-box;
    }
}
.container {
    max-width: 1080px;
    margin: auto;
    padding: 1rem;
    flex: 1 0 auto;
    @media screen and (max-width: $bp-tablet) {
        padding: 0;
        margin-top: 8vw;
        max-width: 100vw;
    }
}
.footer {
    flex-shrink: 0;
}