/* SCSS HEX */
$baby-powder: #fbfef9ff;
$murrey: #9e0059ff;
$buttercup: #ffe357;
$folly: #ff0054ff;
$raisin-black: #191923ff;
$raisin-black-2: #2a2a39;
$plum-web: #dcabdfff;
$yall-blue: #abcbdf;

/* units */
$unit: .2rem;

/* breakpoints */
$bp-mobile: 480px;
$bp-mobile-small: 576px;
$bp-tablet-small: 600px;
$bp-tablet: 860px;
$bp-desktop-nav: 940px;
$bp-desktop: 992px;
$bp-desktop-large: 1000px;
$bp-desktop-xl: 1400px;
$bp-desktop-ultra: 1800px;