/* SCSS HEX */
$baby-powder: #fbfef9ff;
$murrey: #9e0059ff;
$buttercup: #ffe357;
$folly: #ff0054ff;
$raisin-black: #191923ff;
$raisin-black-2: #2a2a39;
$plum-web: #dcabdfff;
$yall-blue: #abcbdf;

/* units */
$unit: .2rem;